
.App {
  background-color: rgba(103, 49, 71);
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden; 
}

.game-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  height: 100%; 
  padding: 0 20px; 
  box-sizing: border-box;
}

.game-updates {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 25%; 
  height: auto; 
  background-color: #7C3853;
  color: #F0DAE7;
  border: 1px solid #ccc;
  margin-right: 60px;
  box-sizing: border-box; 
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: repeat(8, 1fr); 
  width: 75%; 
  max-width: 500px; 
  height: 75vw; 
  max-height: 500px; 
  border: 10px solid #F0DAE7;
  margin-left: 60px; 
}

@media (max-width: 768px) {
  .game-container {
    flex-direction: column; 
    align-items: center; 
  }

  .game-updates {
    width: 100%; 
    margin-bottom: 20px;
  }

  .chess-board {
    width: 100%; 
    height: auto; 
    margin-left: 0;
  }
}
