.game-updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 300px;
  color: #F0DAE7;
  background-color: #7C3853;
  border: 1px solid #ccc;
  margin-right: 20px;
}

.player-info {
  padding: 2px;
  width: 280px;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  color: #F0DAE7;
}

p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.active-player {
  border: 2px solid #FFD700; 
  box-shadow: 0 0 15px #FFD700; 
  transition: box-shadow 0.3s ease, border 0.3s ease; 
}
